
<div class="row">
  <%= render partial: 'shared/side_profile', locals: {member: @user} %>
  <div class="col-md-8 col-xs-12">
    <div class="white-box">
      <!-- .tabs -->
      <ul class="nav nav-tabs tabs customtab">
        <li class="active tab">
          <a href="#profile" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-home"></i></span> <span class="hidden-xs">Profile</span> </a>
        </li>
      </ul>
        <!-- /.tabs -->
      <div class="tab-content">
        <!-- .tabs 1 -->
        <div class="tab-pane active" id="profile">
          <%= render partial: 'shared/profile_edit', locals: {member: @user, path: user_path} %>
        </div>
        <!-- /.tabs1 -->

        <button id="customButton" data-zip-code="true">Purchase</button>
    </div>
  </div>
</div>


<%= content_for :javascripts %>
<script>
var handler = StripeCheckout.configure({
  key: 'pk_test_qyN4kf17ajbDTsL9JjL2u4dE',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    // You can access the token ID with `token.id`.
    // Get the token ID to your server-side code for use.
  }
});

document.getElementById('customButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'trainable',
    description: '2 widgets',
    amount: 2000
  });
  e.preventDefault();
});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
  handler.close();
});
</script>
