<footer class="footer text-center">
  <%= Date.current.year %> &copy; All Rights Reserved by Modern Assets | Brought to you by <a href="http://techtreestudio.com" target="_blank">TechTree Studio</a>
</footer>
