<div class="container center">
    <div class="row mt5em">      
      <h2>About Modern Assets</h2>
      <p>Handcrafted by <a href="http://phasethree.com" target="_blank">Phase Three</a></p>
    </div>
</div>
<div class="container">
  <div class="row mt5em"> 
    <div class="col s8 offset-s2 m6 offset-m3 valign">
      <%=image_tag "user.jpg", class: "z-depth-4 responsive-img " %>
    </div>
  </div>
  <div class="row valign-wrapper mt3em">
    <div class="col m8 valign">
      <h4>
        Hello World Some Text Here
      </h4>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
    <div class="col hide-on-small-only m4 valign">
        <div class="card-panel teal center">
          <h5 class="white-text">Textity</h5>
          <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          </span>
        </div>
    </div>
  </div>
  <div class="row valign-wrapper pt5em">
    <div class="col s10 offset-s1 m6 valign">
      <%=image_tag "user.jpg", class: "z-depth-4 responsive-img " %>
    </div>
    <div class="col m6 valign">
      <h5>
        Hello World Some Text Here
      </h5>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
  </div>
  <div class="row valign-wrapper vp5em">
    <div class=" col m6 push-m6 valign">
      <%=image_tag "user.jpg", class: "z-depth-4 responsive-img " %>
    </div>
    <div class=" col m6 pull-m6 valign">
      <h5>
        Hello World Some Text Here
      </h5>
      <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
    </div>
  </div>
</div>