<div id="contact-us-banner" class="parallax-container">
  <div class="section  contact-us-cover valign-wrapper">
    <div class="container">
      <h2 class="header center white-text valign mb20">Still Have Questions ?</h2>
      <div class="row center">
        <h5 class="header col s8 offset-s2 white-text dark-text">Feel free to reach out if you have any other questions or just want to say hi. We'd be happy to hear from you.</h5>
      </div>
      <div class="row center">
        <a class="modal-trigger waves-effect waves-light btn-large green-third-background capitalize h6" href="#modal1">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%=image_tag "contact-us.jpg", class: "z-depth-4 responsive-img" %>
  </div>
</div>