<div class="minty-third-background" id="program">
    <div class="row center pt5em">
      <div class="col m8 offset-m2">
          <h3 class="">Program Outline</h3>
          <h5 class="light-text mt20">The entire Modern Assets program -- all video tutorials, downloadable slides, how-to action guides, and implementation checklists -- are broken up into manageable weekly modules. Enjoy a simple step-by-step system that helps make the process of modernizing your practice as efficient and effective as possible.</h5>
      </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1 m6 offset-m3">
            <ul class="timeline">
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-content-top">
                        <h4 class="timeline-title">Modern Fundamentals</h4>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 1</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Brand Building</h5>
                        <p>Craft a brand that resonates with your customers, leads to higher conversions, and directly aligns with your business goals &amp personal principles.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 2</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Business Modeling</h5>
                        <p>Uncover new market opportunities, cut costs, and optimize existing services by applying tried and proven business modeling methodologies.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 3</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Customer Development</h5>
                        <p>Benefit from applying a scientific approach to meeting your ideal future customers and learn how to generate more revenue by optimizing each customer's lifetime value.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 4</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Modern Tools &amp Technologies</h5>
                        <p>Learn how to save time and provide better service by automating repetitive tasks, streamlining processes, and improving your practice's presence with the use of modern tools &amp technologies.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 5</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Process Management</h5>
                        <p>Learn work management methodologies from world thought leaders on the subject of high performance and team optimization.</p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-content">
                        <h4 class="timeline-title">Modern Marketing Essentials <span class="smaller">(Theory)</span></h4>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 6</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Inbound Marketing</h5>
                        <p>Attract, Convert, Close, and Delight more customers by learning how to benefit from social media, blogging, newsletter management, and much more.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 7</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Outbound Marketing</h5>
                        <p>Improve your traditional marketing efforts by applying new strategies and tools for better customer engagement and higher conversion.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 8</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Sales Funnel Engineering</h5>
                        <p>Integrate inbound and outbound marketing by learning how to engineer valuable and delightful customer journeys that are sure to convert more strangers into loyal customers. </p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 9</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Metrics &amp Analytics</h5>
                        <p>Measurement is what makes marketing a science, rather than a superstition. We will teach you how to obtain data from different marketing channels and will introduce you to the most important metrics to evaluate in any marketing campaign.</p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <!-- <div class="timeline-marker"></div> -->
                    <div class="timeline-content">
                        <h4 class="timeline-title">Modern Marketing Essentials <span class="smaller">(Practice)</span></h4>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 10</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Create your Modern Marketing Strategy</h5>
                        <p>Learn how to interface business objectives with sales goals when creating a modern marketing strategy.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 11</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Development A Modern Marketing Plan</h5>
                        <p>We'll guide you along the process of interpreting your marketing strategy into a marketing plan that is ready to execute for your practice's success.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 12</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Produce Your Modern Marketing Assets</h5>
                        <p>We'll show you everything you need to know to create ready to publish, high performing digital assets for your marketing campaigns.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 13</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Launch &amp Learn</h5>
                        <p>Learn the magic behind successful product and sales launches and what actions you can take to help increase the probabilities of potential customers becoming repeat customers.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 14</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Continuous Improvement</h5>
                        <p>What is even more important than modernizing your practice ? Maintaining it ! Learn what metrics and data points are worth considering on a weekly, monthly, quarterly, and annual basis and how to interpret these metrics to inform adjustments you can make to improve your practice.</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
  <div class="row center pt3em pb5em">
    <a class="waves-effect waves-light btn-large capitalize h6" data-scroll href="#pricing">Sign Up Today</a>
  </div>
</div>
