
<div class="minty-third-background">
    <div class="row center pt5em">      
      <div class="col m10 offset-m1">
          <h3 class="">Program Outline</h3>
          <h5 class="light-text mt20">Here is a bunch of text for the section in order to see what text will look like it there was a lot of it here in this section.</h5>
      </div>
    </div>
    <div class="row example-basic pb5em">
        <div class="col s10 offset-s1 m6 offset-m3">
            <ul class="timeline">
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <!-- <div class="timeline-marker"></div> -->
                    <div class="timeline-content-top">
                        <h4 class="timeline-title center">Modern Fundamentals</h4>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 1</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Brand Building</h5>
                        <p>Creating a relatable and well-defined brand image and using that to reach your ideal target audience.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 2</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Business Modeling</h5>
                        <p>Uncover new market opportunities, cut costs, and optimize existing services by applying tried and proven business modeling methodologies created in the start-up world.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 3</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Customer Development</h5>
                        <p>Learn a scientific approach to improving conversion rates when marketing your services and improving your overall profitability by tapping into the benefits of modern customer development.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 4</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Modern Tools &amp Technologies</h5>
                        <p>Cut costs and increase revenue by automating repetitive tasks, streamlining processes, and improving your practice's presence with the use of modern tools &amp technologies.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 5</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Process Management</h5>
                        <p>Learn work management strategies and approaches from world thought leaders on the subject of high performance and team optimization.</p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <!-- <div class="timeline-marker"></div> -->
                    <div class="timeline-content">
                        <h4 class="timeline-title center">Modern Marketing Essentials <span class="smaller">(Theory)</span></h4>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 6</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Inbound Marketing</h5>
                        <p>Attract, Convert, Close, and Delight more customers by learning how to benefit from social media, blogging, newsletter management, and much more.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 7</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Outbound Marketing</h5>
                        <p>Improve your traditional marketing efforts by applying new strategies and tools for better customer engagement and higher conversion.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 8</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Sales Funnel Engineering</h5>
                        <p>Integrate inbound and outbound marketing by learning how to engineer valuable and delightful customer journeys that are sure to convert more strangers into loyal customers. </p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 9</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Metrics &amp Analytics</h5>
                        <p>Learn the why, what, and how of measuring what matters in modern marketing campaigns. We will teach you how to obtain data from all of your modern tools and how to intepret this data in order to improve your marketing efforts. Click-through rates, pay-per-click, impressions, LTV, and oh so much more good stuff. </p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <!-- <div class="timeline-marker"></div> -->
                    <div class="timeline-content">
                        <h4 class="timeline-title center">Modern Marketing Essentials <span class="smaller">(Practice)</span></h4>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 10</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Design a Modern Marketing Strategy</h5>
                        <p>Learn how to interface business goals with sales goals and what things to consider when creating a marketing strategy. Learn </p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 11</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Development A Modern Marketing Plan</h5>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque. </p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 12</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Produce Your Modern Marketing Assets</h5>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque. </p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 13</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Launch Your Newly Modernized Practice</h5>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque. </p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 14</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Continous Improvement of Your Modern Practice</h5>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero venenatis faucibus. ullam dictum felis
                            eu pede mollis pretium. Pellentesque ut neque. </p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>