<div class="minty-third-background">
    <div class="row center pt5em">      
      <div class="col m10 offset-m1">
          <h3 class="">Program Outline</h3>
          <h5 class="light-text mt20">While our course content does build upon itself from the very beginning, it is also module and there is plenty to learn from each module independent of one another. A new module is released every week until the course's completion. Work through the course with us or at your own pace, the choice is yours.</h5>
      </div>
    </div>
    <div class="row example-basic pb5em">
        <div class="col s10 offset-s1 m6 offset-m3">
            <ul class="timeline">
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-content-top">
                        <h4 class="timeline-title center">Modern Fundamentals</h4>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 1</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Brand Building</h5>
                        <p>Creating a relatable and well-defined brand image and using that to reach your ideal target audience.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 2</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Business Modeling</h5>
                        <p>Uncover new market opportunities, cut costs, and optimize existing services by applying tried and proven business modeling methodologies created in the start-up world.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 3</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Customer Development</h5>
                        <p>Learn a scientific approach to improving conversion rates when marketing your services and improving your overall profitability by tapping into the benefits of modern customer development.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 4</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Modern Tools &amp Technologies</h5>
                        <p>Cut costs and increase revenue by automating repetitive tasks, streamlining processes, and improving your practice's presence with the use of modern tools &amp technologies.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 5</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Process Management</h5>
                        <p>Learn work management strategies and approaches from world thought leaders on the subject of high performance and team optimization.</p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <!-- <div class="timeline-marker"></div> -->
                    <div class="timeline-content">
                        <h4 class="timeline-title center">Modern Marketing Essentials <span class="smaller">(Theory)</span></h4>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 6</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Inbound Marketing</h5>
                        <p>Attract, Convert, Close, and Delight more customers by learning how to benefit from social media, blogging, newsletter management, and much more.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 7</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Outbound Marketing</h5>
                        <p>Improve your traditional marketing efforts by applying new strategies and tools for better customer engagement and higher conversion.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 8</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Sales Funnel Engineering</h5>
                        <p>Integrate inbound and outbound marketing by learning how to engineer valuable and delightful customer journeys that are sure to convert more strangers into loyal customers. </p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 9</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Metrics &amp Analytics</h5>
                        <p>Learn the why, what, and how of measuring what matters in modern marketing campaigns. We will teach you how to obtain data from all of your modern tools and how to intepret this data in order to improve your marketing efforts. Click-through rates, pay-per-click, impressions, LTV, and oh so much more good stuff. </p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <!-- <div class="timeline-marker"></div> -->
                    <div class="timeline-content">
                        <h4 class="timeline-title center">Modern Marketing Essentials <span class="smaller">(Practice)</span></h4>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 10</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Design a Modern Marketing Strategy</h5>
                        <p>Learn how to interface business goals with sales goals and what things to consider when creating a marketing strategy.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 11</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Development A Modern Marketing Plan</h5>
                        <p>We'll guide you along the process of interpreting your marketing strategy into a plan that is ready to execute for your practice's success. Learn how to set up benchmarks, how to create production schedules, and learn how to obtain data from your campaigns that will help to teach you what is working, what isn't, and what you could do differently to optimize your returns on your marketing efforts.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 12</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Produce Your Modern Marketing Assets</h5>
                        <p>Learn the the types of content you are going to need to product for each channel, effective ways to outsource that work for lower costs and better results, and learn different tools that are available for a diy approach. We'll show you everything you need to produce higher performing digital assets in preparation for your upcoming launch.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 13</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Launch Your Newly Modernized Practice</h5>
                        <p>Learn the magic behind successful product and sales launches, the psychology behind writing compelling copy, and what actions you can take to help you future customers along their customer journeys.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Module 14</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h5 class="timeline-title">Continous Improvement of Your Modern Practice</h5>
                        <p>What is even more important than launching your product ? Maintaining it ! Learn what metrics and data points are worth considering on a weekly, monthly, quarterly, and annnual basis. Learn how to interpret the different data arising from your marketing campaigns to inform future improvements for better returns. </p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>