<div class="container center">
    <div class="row mt5em">      
      <div class="col m10 offset-m1 ">
        <h2 class="dark-text">FAQs</h2>
        <h5 class="light-text mt20">Here is a bunch of text for the section in order to see what text will look like it there was a lot of it here in this section.</h5>
        <!-- <p>commonly shared <a href="http://phasethree.com" target="_blank" class="green-text">answers</a></p> -->
      </div>
    </div>
</div>
<div class="container">
  <div class="row pb5em">
<!--     <div class="col s12">
      <h4 class="">Group</h4>
    </div> -->
    <div class="col s12">
      <h5>Why should I enroll in this program ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>Do I have to go through the whole program ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>What if I'm too busy to do the program ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>What are the benefits of participating ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>How will this program be delivered ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>How can we measure our success in the program ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>What information is this program based on ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>What is the full cost of the program ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>What personal support do I have access to ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div> 
    <div class="col s12">
      <hr class="mv3em">
      <h5>Can I just sign up for this program later ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div> 
    <div class="col s12">
      <hr class="mv3em">
      <h5>What if I have more questions ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div> 
  </div>
</div>
