<div class="container center">
    <div class="row mt5em">      
      <div class="col m10 offset-m1 ">
        <h2 class="dark-text">FAQs</h2>
        <h5 class="light-text mt20">Here is a list of the most commonly provided answers regarding the Modern Assets program.</h5>
      </div>
    </div>
</div>
<div class="container">
  <div class="row pb5em">
    <div class="col s12">
      <h5>Why should I enroll in this program ?</h5>
      <p>This is the only comprehensive, practice optimization program that integrates business development, innovation management, technological recommendations, and that is delivered in a actionable multi-media format. You have video tutorials that will walk you through the action items in as much detail as you need, you will be given executive summaries of each module, and downloadable slides that are used in each module. In addition to this, you will also be given guides that will help to expedite applying what you learn.</p>
      <p>This is the only program that integrates best practices for social media marketing, business development, process management, and that provides a step-by-step system on how to modernize your practice and reap the benefits of using the most up-to-date, tried-and-proven technologies available in the market today.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>Do I have to go through the whole program ?</h5>
      <!-- <p>Because our course is designed in a modular manner, each module is valuable and actionable in a stand-alone manner; however, you will get the most out of this course if you work through its contents in their entirety.</p> -->
      <p>While we recommend working through the course in its entirety, our program is designed in a modular manner and there is much to learn and benefit from each individual module.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>Can I upgrade from one plan to another ?</h5>
      <p>We need to write this content out still.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>What if I'm too busy to do the program ?</h5>
      <p>You don't have to work through the course contents with us. You will be given extra time to access the course after its completion, so you can work at your own place. 
      <!-- It may also be totally worthwhile to hire an intern that can work through the course on your behalf and report back to you. This course was designed to strike a balance between being as light-weight as possible, yet being as valuable as possible for your practice. No fluff, no filler, just valuable, actionable knowledge. As a result, we developed all of the tools you need to keep your time investment as low as possible. Executive summaries, downloadable slides, video tutorials, and project guidelines to help you save time and get more results. -->
      </p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>What are the benefits of participating ?</h5>
      <p>I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information.I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information. I am a very simple card. I am good at containing small bits of information.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>Do you have a refund polict?</h5>
      <p>
        Your satisfaction is paramount to us. We simply ask that you work through the course materials and apply the lessons learned for at least three months after completing the course. If you do not see any results or are dissatisfied with the course, we will give you a 100% refund.
      </p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>How will this program be delivered ?</h5>
      <p>The program will be delivered to you through a state-of-the-art learning management system. Meaning, you will be able to view course materials on your cell phone, tablets, laptops, desktops, basically any device with an internet connection. You will be given a private login in order to ensure you have secure and private access.</p>
    </div>
<!--     <div class="col s12">
      <hr class="mv3em">
      <h5>How can we measure our success in the program ?</h5>
      <p>We will share success criteria with you all throughout the course. We will show you what results you can expect after implementing certain exercises and we will provide guides to show you what certain materisls should look like. In addition, we will show you how to obtain data from each of your marketing campaign so you can benchmark and measure your efforts, as well as teaching you how to interpret this data in order to make required changes and improvements.</p>
    </div> -->
    <div class="col s12">
      <hr class="mv3em">
      <h5>What information is this program based on ?</h5>
      <p>The Modern Assets program is based on a synthesis of best practices taken from world-leading thought leaders, battle-tested insights from some of the world's best start ups, and years of professional industry experience.
      We also consitently work with our program participants in order to integrate their feedback to continue improving your own experience.</p>
    </div>
    <div class="col s12">
      <hr class="mv3em">
      <h5>What personal support do I have access to ?</h5>
      <p>You will have access to a varying deegree of support depending on which plan you sign up for. The start package will give you access to a peer-group which you can ask questions to which is also moderated and responded to by the course's creators. The pro package will give you access to unlimited email support, through which you will be able to ask personal program related questions, in addition to getting bi-weekly </p>
    </div> 
    <div class="col s12">
      <hr class="mv3em">
      <h5>Can I just sign up for this program later ?</h5>
      <p>
      This program will start on DATE and the sign up period will close on DATE. We will not be offering the Modern Assets program again until August 2017; however, it will most likely be at a higher price. 
      </p>
    </div> 
    <div class="col s12">
      <hr class="mv3em">
      <h5>What if I have more questions ?</h5>
      <p>Our door is always open. Please feel free to write us with any other questions at hello@mymodernassets. We'd be happy to hear from you.</p>
    </div> 
  </div>
</div>