<footer class="page-footer green-third-background">
  <div class="footer-copyright m0">
    <div class="container mo">
    <div class="row valign-wrapper m0">
      <div class="col s2 m1 valign">
        <%=image_tag "modern_assets_white.png", {class:"mt5", style:"width:100%;"}%>    
      </div>
      <div class="col s10 m11 valign">
        All Rights Reserved by 
        <a class="white-text" href="http://techtreestudio.com">Modern Assets &copy;</a> 2017 
      </div>
    </div>
    </div>
  </div>
</footer>