<header>
    <div class="navbar-fixed">
        <nav class="white z-depth-1">
            <div class="row">
                <div class="col s10 offset-s1">
                <div class="nav-wrapper" style="margin: 0 auto;">
                  <!-- <p style="display: inline-block;"> -->
                 <p style="display:inline-block;float: right;">
                 <a class="capitalize waves-effect waves-light btn hide-on-large-only hide-on-small-only"  href="mobile.html" >Sign Up</a></p>
                 <div class="hide-on-large-only hide-on-small-only" style="float: right;width: 2px; background-color: rgba(117,117,117,0.5);margin:10px 25px 0px;height: 40px;"></div>
                 <a href="#" data-activates="mobile-demo" class="hide-on-large-only button-collapse green-text right" style="right: -20px;float: right;"><i class="material-icons">menu</i></a>   
                  <%=image_tag "modern_assets.png", {class: "nav-bar-logo"}%>
                  <a id="logo-container" href="#" class="brand-logo capitalize">
                    <span class="bold-text green-text">Modern </span><span class="minty-text bold-text">Assets</span>
                  </a>
                  <!-- </p> -->
                    <ul class="right hide-on-med-and-down">
                        <li><a class="capitalize" href="sass.html">About</a></li>
                        <li><a class="capitalize" href="badges.html">Program</a></li>
                        <li><a class="capitalize" href="collapsible.html">Benefits</a></li>
                        <li><a class="capitalize" href="collapsible.html">Pricing</a></li>
                        <li><a class="capitalize" href="mobile.html">FAQs</a></li>
                        <li><a class="capitalize waves-effect waves-light btn" href="mobile.html">Sign Up</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>
    </div>
    <ul class="side-nav center" id="mobile-demo">

    <li>
        <%=image_tag "modern_assets.png", {class: "nav-bar-logo"}%>
                  <a id="logo-container" href="#" class="brand-logo capitalize ">
                    <span class="bold-text green-text h6">Modern</span><span class="h6 minty-text light-text">Assets</span>
                  </a>
    </li>
        <li><a class="capitalize" href="sass.html">About</a></li>
        <li><a class="capitalize" href="badges.html">Program</a></li>
        <li><a class="capitalize" href="collapsible.html">Benefits</a></li>
        <li><a class="capitalize" href="mobile.html">FAQs</a></li>
        <li><a class="capitalize waves-effect waves-light btn" href="mobile.html">Sign Up</a></li>
    </ul>
</header>