<header>
    <div class="navbar-fixed">
        <nav class="white z-depth-1">
            <div class="row">
                <div class="col s10 offset-s1">
                <div class="nav-wrapper ">
                  
                  <%=image_tag "modern_assets.png", {style:"width:50px;margin:15px 15px 0px 0px;"}%>
                  <a id="logo-container" href="#" class="brand-logo capitalize">
                    <span class="bold-text green-text">Modern</span><span class="minty-text light-text">Assets</span>
                  </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse green-background"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="uppercase" href="sass.html">About</a></li>
                        <li><a class="uppercase" href="badges.html">Program Outline</a></li>
                        <li><a class="uppercase" href="collapsible.html">Deliverables</a></li>
                        <li><a class="uppercase" href="mobile.html">FAQs</a></li>
                        <li><a class="uppercase waves-effect waves-light btn" href="mobile.html">Sign Up</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
        <li><a class="uppercase" href="sass.html">About</a></li>
        <li><a class="uppercase" href="badges.html">Program Outline</a></li>
        <li><a class="uppercase" href="collapsible.html">Deliverables</a></li>
        <li><a class="uppercase" href="mobile.html">FAQs</a></li>
        <li><a class="uppercase waves-effect waves-light btn" href="mobile.html">Sign Up</a></li>
    </ul>
</header>