<header>
    <div class="navbar-fixed">
        <nav class="white z-depth-1">
            <div class="nav-wrapper container">
              <a id="logo-container" href="#" class="brand-logo uppercase">
                <span class="bold-text">Modern</span><span class="light-text">Assets</span>
              </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse teal"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">Javascript</a></li>
                    <li><a href="mobile.html">Mobile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>
</header>