<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <h4 class="light-text mv3em">"Here is a bunch of text for the section in order to see what text will look like it there was a lot of it here in this section. Here is a bunch of text for the section in order to see what text will look like it there was a lot of it here in this section."</h4>
    </div>
  </div>
</div>