<div class="container">
  <div class="section">
    <div class="row mt20">
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 >
            <span class="bold-text">MODERN</span><span class="light-text">ASSETS</span>
          </h6>
          <h5>Training on All Devices</h5>
          <p class="light">We did most of the heavy lifting for you.</p>
        </div>
      </div>
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 >
            <span class="bold-text">MODERN</span><span class="light-text">ASSETS</span>
          </h6>
          <h5>Training on All Devices</h5>
          <p class="light">We did most of the heavy lifting for you.</p>
        </div>
      </div>
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 >
            <span class="bold-text">MODERN</span><span class="light-text">ASSETS</span>
          </h6>
          <h5>Training on All Devices</h5>
          <p class="light">We did most of the heavy lifting for you.</p>
        </div>
      </div>
    </div>
  </div>
</div>