<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot home-cover valign-wrapper">
    <div class="container">
      <h2 class="center white-text valign mb20 text-shadow">Modernize Your Accounting Practice</h2>
      <div class="row center">
        <h5 class="header col s12 white-text capitalize">An end-to-end program that teaches you how to leverage modern tools and strategies to save time, raise revenue, and provide better customer service.</h5>
      </div>
      <div class="row center">
        <a class="waves-effect waves-light btn-large capitalize h6">Sign Up Today</a>
      </div>
      <div class="row">
        <h6 class="white-text center">The program starts on April 20th, 2017. Signups will close on April 13th, 2017.</h6>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%=image_tag "ma-hero.jpg", class: "z-depth-4 responsive-img" %>
  </div>
</div>
