<div class="container">
  <div class="section">
    <div class="row mt20">
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 class="green-text">
            <span class="bold-text">Duration</span>
            <!-- <span class="bold-text">MODERN</span><span class="light-text">TOOLS</span> -->
          </h6>
          <h5>3+ Months</h5>
          <p class="light">15 Modules, each lasting 1 week. Receive support throughout the program with weekly conference calls and access to a forum of your peers.</p>
        </div>
      </div>
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 class="green-text bold-text">
            Location
            <!-- <span class="bold-text">MODERN</span><span class="light-text">ASSETS</span> -->
          </h6>
          <h5>Online</h5>
          <p class="light">Learn from an end-to-end program that helps make the benefits of modernizing your practice as affordable and accessible as possible.</p>
        </div>
      </div>
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 class="green-text">
            <span class="bold-text">Guarantee</span>
          </h6>
          <h5>3x ROI</h5>
          <p class="light">This course is at least 3x more valuable than what you are paying and we trust the numbers will prove it--or your money back.</p>
          <!-- <p class="light">*You will generate at least 5x more revenue than what you paid for this program or your money back.</p> -->
        </div>
      </div>
    </div>
  </div>
</div>