<div class="container">
  <div class="section">
    <div class="row mt20">
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 class="green-text bold-text">
            Modernize Your
          </h6>
          <h5>Marketing</h5>
          <p class="light">Cash in on the benefits of integrating online and offline marketing with our end-to-end training.</p>
        </div>
      </div>
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 class="green-text">
            <span class="bold-text">Modernize Your</span>
          </h6>
          <h5>Brand</h5>
          <p class="light">Discover how to use your brand as a technology that will help to improve your ROI across the board.</p>
        </div>
      </div>
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 class="green-text">
            <span class="bold-text">Modernize Your</span>
          </h6>
          <h5>Service</h5>
          <p class="light">Transition from ordinary to <span style="font-style: italic;">extraordinary</span> customer service with the use of modern technologies.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 ">
    <h5 class="light-text">Staying up-to-date with technology is hard.<br><br> Learning how to use technology to improve and grow your practice is even harder...and expensive.<br><br>But what if it didn't have to be?<br></h5>
    <!-- <h5 class="light-text"></h5> -->
    <!-- <h5 class="light-text">But what if we told you it was possible to navigate in today's sea of buzz words without drowning ?</h5> -->
    <!-- <h5 class="center">But maybe, it doesn't have to be.</h5> -->

    <h5 class="light-text">
      What if a team of award-winning software engineers and marketers worked with a focus group of accountants to create a simple, step-by-step system that showed you exactly how to modernize your practice ?
    </h5>
    <h5 class="light-text">
      Would you want to learn how to capitalize on the benefits of implementing tried-and-proven technologies and best practices?
    </h5>
    <h5 class="light-text">
       Would you want to learn how to get higher returns per marketing dollar with the least amount of effort possible ? 
    </h5>
    <h4>Well, we have just the thing for you.</h4>
  </div>
</div>
</div>
<!-- <div class="container">
<div class="row"> 
<div class="col s12 center">
<h6>What is PPC ? CAS ? Bounce Rate ? </h6>
<h6>What goes into making a social media marketing campaign ?</h6>
<h6>What is the difference between having a social media presence and administering a media campaign?</h6>
<h6>What are the essential components every modern website needs ?</h6>
<h6>How to set up an online-booking system ?</h6>
<h6>How can I get my website to rank higher on Google searches? </h6>
<h6>What social media channels should I be marketing on as an accountant?</h6>
<h6>What are the most important metrics to track for online marketing</h6>
<h6>Why is having a brand important ? And how does have a good brand benefit my practice </h6>?
<h6>What are the main components that comprise a good brand ?</h6>
<h6>How can I grow my business by growing my brand ?</h6>
<h6>How can I measure the results of marketing campaigns ?</h6>
<h6>How to evaluate between different technology providers and chose one that is best for me? </h6>
</div>
</div>
</div> -->