<div class="container">
  <div class="section">
    <div class="row mt20">
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 class="green-text bold-text">
            Duration
            <!-- <span class="bold-text">MODERN</span><span class="light-text">ASSETS</span> -->
          </h6>
          <h5>3+ Months</h5>
          <p class="light">We did most of the heavy lifting for you.</p>
        </div>
      </div>
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 class="green-text bold-text">
            Location
            <!-- <span class="bold-text">MODERN</span><span class="light-text">ASSETS</span> -->
          </h6>
          <h5>Online</h5>
          <p class="light">We did most of the heavy lifting for you.</p>
        </div>
      </div>
      <div class="col s12 m4 mt10">
        <div class="home-highlight__container">
          <h6 class="green-text">
            <span class="bold-text">Guarantee</span>
          </h6>
          <h5>3x Return on Investment</h5>
          <p class="light">We did most of the heavy lifting for you.</p>
        </div>
      </div>
    </div>
  </div>
</div>