<div class="pt3em" style="background-color: rgba(71, 180, 117, 0.5);">
  <div class="container">
    <div class="row center">
      <h2 class="white-text mb20">Modern Assets Checkout Page</h2>
      <h4 class="grey-text">You are about to make an awesome investment in your firm.</h4>
    </div>
    <div class="row pb5em">
      <div class="col s10 offset-s1 m6 ">
        <div class="card z-depth-0 center pv2em">
          <div class="card-content">
            <div class="row">
              <h4 class="green-text">Sign Up</h4>
              <h4 class="grey-text">Modern Assets<span style="font-size: 0.7em;"></span></h4>
            </div>
            <form>
              <div class="row">
                <div class="input-field col s12">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">First Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email" data-error="please enter a valid email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s8">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Credit Card Number</label>
                </div>
                <div class="input-field col s4">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">CVV</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s5 offset-s1">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Exp. Date</label>
                </div>
                <div class="input-field col s5">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Zip Code</label>
                </div>
              </div>
              <div class="row">
                <a class="capitalize waves-effect waves-light btn-large" href="mobile.html" style="font-size: 1.2em;">Sign Up Today</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s10 offset-s1 m6 ">
        <div class="card z-depth-0 center pv2em">
          <div class="card-content">
            <h4 class="green-text">Premium</h4>
            <h4 class="grey-text">$249<span style="font-size: 0.7em;"></span></h4>
            <ul class="mb20">
              <li"><h6><span class="bold-text">Everything </span> included in Standard</h6></li>
              <li"><h6 class="bold-text">+</h6></li>
              <li"><h6><span class="bold-text">Bi-Weekly </span> Coaching Calls</h6></li>
              <li"><h6><span class="bold-text">Weekly </span> Open Q &amp A </h6></li>
              <li"><h6><span class="bold-text">Launch </span> Review</h6></li>
              <li"><h6><span class="bold-text">Hand On </span> Brand Critique</h6></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
